{% extends "assets/basics/app.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Profile
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="createOrUpdate" action="" method="POST" id="profile">
                                {{ profile_form.csrf_token() }}
                                <div class="form-group">
                                    {{ profile_form.full_name(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ profile_form.birthday(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ profile_form.email(class="form-control") }}
                                </div>
                                <div class="pull-right">
                                    {{ profile_form.submit(class="btn btn-default") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Password
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="createOrUpdate" action="" method="POST" id="password">
                                {{ password_form.csrf_token() }}
                                <div class="form-group">
                                    {{ password_form.current(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ password_form.new(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ password_form.repeat_new(class="form-control") }}
                                </div>
                                <div class="pull-right">
                                    {{ password_form.submit(class="btn btn-default") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $(document).ready(function() {
        $('#profile').submit(function (e) {
            var url = "{{ url_for('profile.edit') }}";

            $.ajax({
                type: "POST",
                url: url,
                data: $('#profile').serialize(),
                success: function (data) {
                    if(data.status=="success"){
                        Swal.fire(
                          'İşlem Onaylandı!',
                          'Veriler Kaydedildi & Güncellendi',
                          'success'
                        )
                    }else {
                        Swal.fire(
                          'İşlem Onaylanmadı',
                          'Bir Hata Oluştu',
                          'error'
                        )
                    }
                },
                error: function(data) {
                    Swal.fire(
                        'Hata!',
                        'Veriler İşlenemedi',
                        'error'
                    )
                }
            });
            e.preventDefault();
        });

        $('#password').submit(function (e) {
            var url = "{{ url_for('profile.password') }}";

            $.ajax({
                type: "POST",
                url: url,
                data: $('#password').serialize(),
                success: function (data) {
                    if(data.status=="success"){
                        Swal.fire(
                          'İşlem Onaylandı!',
                          'Veriler Kaydedildi & Güncellendi',
                          'success'
                        )
                    }else {
                        Swal.fire(
                          'İşlem Onaylanmadı',
                          'Bir Hata Oluştu',
                          'error'
                        )
                    }
                },
                error: function(data) {
                    Swal.fire(
                        'Hata!',
                        'Veriler İşlenemedi',
                        'error'
                    )
                }
            });
            e.preventDefault();
        });
    });
</script>
{% endblock %}
