<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% if title is defined %}
            {{ title }} | Confidant
        {% else %}
            Confidant
        {% endif %}
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename = 'assets/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'assets/dist/css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename = 'assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% block content %} {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                &copy; 2023 <strong>{{ config["APP_NAME"] }} {{ config["APP_VERSION"] }}</strong> {{ config["APP_DESC"] }}
                <br> by <a href="{{ config["AUTHOR_SITE_URL"] }}" target="_blank">{{ config["AUTHOR_NAME"] }}</a>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename = 'assets/vendor/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename = 'assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename = 'assets/vendor/metisMenu/metisMenu.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename = 'assets/dist/js/sb-admin-2.js') }}"></script>
</body>
</html>